html {
  background-color: black;
  text-align: center;
}
h1 {
  font-family: "Verdana";
  font-size: 50px;
  font-weight: normal;
  color: white;
  text-align: center;
}

p.downLoadLink {
  color: aquamarine;
  font-size: 16px;
}
